@model EIS.Models.EmpDetail

@{
    ViewBag.Title = "Emp";
}

<h2>Employee Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal p1 f1">
    <h4>Enter your Employee id and password</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class=" c1">
        @Html.LabelFor(model => model.Email_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" c1">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default  head" style="color:#fff;" />
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
